<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.base.mapper.LogGameMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="LogGameResultMap" type="com.max.base.entity.LogGame">
        <id column="id" property="id" />
    </resultMap>
    <resultMap id="LogGameDtoResultMap" type="com.max.base.dto.LogGameDto">
                <id column="id" property="id" />
    </resultMap>
    <resultMap id="LogGameResponseDtoResultMap" type="com.max.base.dto.response.LogGameResponseDto">
                <id column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
    </sql>

</mapper>
