<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.base.mapper.LogWalletLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="LogWalletLimitResultMap" type="com.max.base.entity.LogWalletLimit">
        <id column="log_wallet_limit_id" property="logWalletLimitId"/>
        <result column="user_id" property="userId"/>
        <result column="wallet_limit_id" property="walletLimitId"/>
        <result column="changed_value" property="changedValue"/>
    </resultMap>
    <resultMap id="LogWalletLimitDtoResultMap" type="com.max.base.dto.LogWalletLimitDto">
        <id column="log_wallet_limit_id" property="logWalletLimitId"/>
        <result column="user_id" property="userId"/>
        <result column="wallet_limit_id" property="walletLimitId"/>
        <result column="changed_value" property="changedValue"/>
    </resultMap>
    <resultMap id="LogWalletLimitResponseDtoResultMap" type="com.max.base.dto.response.LogWalletLimitResponseDto">
        <id column="log_wallet_limit_id" property="logWalletLimitId"/>
        <result column="user_id" property="userId"/>
        <result column="wallet_limit_id" property="walletLimitId"/>
        <result column="changed_value" property="changedValue"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_wallet_limit_id, user_id, wallet_limit_id, changed_value
    </sql>

</mapper>
