<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.base.mapper.SupplierTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="SupplierTypeResultMap" type="com.max.base.entity.SupplierType">
        <id column="supplier_type_id" property="supplierTypeId"/>
        <result column="supplier_type" property="supplierType"/>
    </resultMap>
    <resultMap id="SupplierTypeDtoResultMap" type="com.max.base.dto.SupplierTypeDto">
        <id column="supplier_type_id" property="supplierTypeId"/>
        <result column="supplier_type" property="supplierType"/>
    </resultMap>
    <resultMap id="SupplierTypeResponseDtoResultMap" type="com.max.base.dto.response.SupplierTypeResponseDto">
        <id column="supplier_type_id" property="supplierTypeId"/>
        <result column="supplier_type" property="supplierType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        supplier_type_id, supplier_type
    </sql>

</mapper>
