<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.base.mapper.WalletSeriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="WalletSeriesResultMap" type="com.max.base.entity.WalletSeries">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="series" property="series"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
    </resultMap>
    <resultMap id="WalletSeriesDtoResultMap" type="com.max.base.dto.WalletSeriesDto">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="series" property="series"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
    </resultMap>
    <resultMap id="WalletSeriesResponseDtoResultMap" type="com.max.base.dto.response.WalletSeriesResponseDto">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="series" property="series"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, series, type, status
    </sql>

</mapper>
